node_modules/
.DS_Store
.idea/
.vscode
npm-debug.log
package-lock.json
env-alter.js
.next

# production
build/**/*
build/index.html

# development
public/dll
public/.cache
config/proxy.config.js

version.json
report.**.json
yarn-error.log
